<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">\
	<title>NEO explorer</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="/app.css"/>
</head>
<body>
	<div id="app">
		<div class="container">
			<h2>Near Earth Objects</h2>
			<div class="row">
				<div class="col input-group">
					<div class="input-group-prepend">
						<span class="input-group-text" required>From</span>
					</div>
					<input id="fromDate" class="form-control" type="date" v-model="fromDate">
				</div>

				<div class="col input-group">
					<div class="input-group-prepend">
						<span class="input-group-text" required>To</span>
					</div>
					<input id="toDate" class="form-control" type="date" v-model="toDate">
				</div>
				<div class="col-auto"><button type="button" class="btn btn-primary" v-on:click="reloadGrid()">Go</button></div>
			</div>
			<p />
			<table class="table table-sm" id="neos">
				<thead class="thead-light">
				<th>Name</th>
				<th>Diameter</th>
				<th>Potentially Hazardous</th>
				</thead>
				<tbody>
					<tr v-for="neo in near_earth_objects" v-bind:class="{hazardous: neo.is_potentially_hazardous_asteroid}">
						<td>{{neo.name}}</td>
						<td>Between {{Math.round(neo.estimated_diameter.feet.estimated_diameter_min)}} and {{Math.round(neo.estimated_diameter.feet.estimated_diameter_max)}} feet</td>
						<td>
							<span v-if="neo.is_potentially_hazardous_asteroid">Yes</span>
							<span v-else>No</span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>
<script type="text/javascript" src="/lib/vue/vue.js"></script>
<script type="text/javascript" src="/lib/jquery/jquery.js"></script>
<script type="text/javascript" src="/helpers.js"></script>
<script>
	var vm = new Vue({
		el: '#app',
		data: {
			fromDate: '2019-06-07',
			toDate: '2019-06-07',
			near_earth_objects: []
		},
		methods: {
			fetchData: function (fromDate, toDate) {
				var url = "https://api.nasa.gov/neo/rest/v1/feed";	//?start_date=2015-09-07&end_date=2015-09-08&api_key=DEMO_KEY
				var params = {
					start_date: fromDate,
					end_date: toDate,
					api_key: "DEMO_KEY"
				};

				$.getJSON(url, params)
					.done(function (response) {
						vm.near_earth_objects = squash(response.near_earth_objects);
					}).fail(function (textStatus, errorThrown) {
						console.log(textStatus, errorThrown);
						alert(`Web service call failed with the error "${textStatus}" and code "${errorThrown}"`);
					});
			},
			reloadGrid() {
				this.fetchData(this.fromDate, this.toDate);
			}
		},
		created: function () {
			this.reloadGrid();
		}
	});
</script>
